#Node Modules/Dependencies
node_modules/

#Line (Currently Not Needed)
src/services/line
src/routes/lineRoute.js

#FireBase Configuration
webhook-chatbot-65815-firebase-adminsdk-bnyih-ba13430a8b.json

#.env File
.env
